@use 'common';
$card_width: 350px;
$card_margin: 20px 10px;
@mixin hide_card {
  content:"";
  display: block;
  width: $card_width;
  margin: $card_margin;
}

.products-main {
  max-width: 1200px;
  .products-main-header {
    @include common.default_main();
  }
  .container {
    justify-content:space-around;
    &:before {
      @include hide_card();
      order: 1;
    }
    &:after {
      @include hide_card();
    }
    .card {
      position: relative;
      max-width: $card_width;
      height: $card_width*1.25;
      margin: $card_margin;
      .card-title { 
        font-size: 1.3rem;
        font-weight: bold;
        @include common.overflow_text(2);
      }
      .card-description {
        font-weight: bolder;
        font-size: 0.9rem;
        @include common.overflow_text(4);
      }
      .card-grade {
        position: absolute;
        bottom: 0;
        p {
          font-size: 0.8rem;
          font-weight: bolder;
        }
      }
      .card-tags {
        @include common.overflow_tag();
      }
    }
  }
}